.MineF {
    width: 32px;
    height: 32px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.covered {
    background-color: #c0c0c0;
}

.revealed {
    background-color: red;
}

.flagged {
    background-color: #ffdd57;
}

.unknown {
    background-color: #333;
    color: white;
}
